<div class="list-container">

  <div class="row">
    <div class="col-md-8 col-sm-8">
      <app-page-header title="Employee List"></app-page-header>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="toolbar">

        <div class="actions">
          <!--Commenting out client-side export buttons as we are now using server-side export functionality-->
          <!--<button (click)="exportExcel()">Export Excel</button>
  <button (click)="exportPDF()">Export PDF</button>-->

          <button (click)="exportServerExcel()">Export Excel</button>
          <button (click)="exportServerPdf()">Export PDF</button>
        </div>

      </div>

    </div>
  </div>
  


  <app-data-grid [config]="gridConfig"
                 [data]="employees"
                 [totalCount]="totalCount"
                 (search)="onSearch($event)"
                 (sortChange)="onSort($event)"
                 (pageChange)="onPageChange($event)">
  </app-data-grid>

</div>
