<nav class="navbar navbar-dark bg-dark px-3 d-flex justify-content-between">

  <!-- Left -->
  <span class="navbar-brand mb-0 h1">
    Nexora
  </span>

  <!-- Right -->
  <div class="d-flex align-items-center position-relative user-section">

    <!-- User Name (safe navigation added) -->
    <span class="text-white me-3">
      {{ (userProfile$ | async)?.fullName || 'User' }}
    </span>

    <!-- Avatar -->
    <img
      class="profile-avatar"
      [src]="(userProfile$ | async)?.profileImageUrl || 
      ('https://ui-avatars.com/api/?name=' + 
      ((userProfile$ | async)?.fullName || 'User'))"
      alt="Profile"
      (click)="toggleMenu()"
    />

    <!-- Dropdown -->
    <div class="profile-dropdown" *ngIf="menuOpen">

      <!-- Header section -->
      <!-- <div class="dropdown-header">
        <div class="name">{{ user?.fullName }}</div>
        <div class="email">{{ user?.email }}</div>
      </div> -->

      <div class="divider"></div>

      <!-- My Profile -->
      <!-- My Profile -->
     <a routerLink="/hr/employees/my-profile" class="dropdown-item" (click)="closeMenu()">
      <i class="bi bi-person me-2"></i>
      My Profile
      </a>

      <!-- Change Password -->
      <a routerLink="/change-password" class="dropdown-item" (click)="closeMenu()">
        <i class="bi bi-key me-2"></i>
        Change Password
      </a>

      <!-- Logout -->
        <a class="dropdown-item logout" (click)="logout()">
          <i class="bi bi-box-arrow-right me-2"></i>
          Logout
        </a>

    </div>

  </div>

</nav>