.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

a:hover {
  background: #1f2937;
}

.active {
  background: #2563eb;
  color: white;
}